# [domain]
# hosts = comma separated list of subdomains
# password = namecheap dyndns password
# ip = ip address or check to get public ip

[general]
syslog = 1
logfile = /var/log/namecheap-dyndns.log
email_server = mail.mayfirst.org
email_from = test@example.com
email_to = test@example.com
email_user = myusername
email_pw = terriblepassword

[self.com]
hosts = @, www, *
password = 00000000000000000000000000000000
ip = 127.0.0.1

[example.com]
hosts = @, www, mail, app
password = 00000000000000000000000000000000
ip = check
